body {
  margin: 40px;
  margin-right: 100px;
  margin-left: 100px;
  color: #9E9E9E;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #FFFFFF;
}

header {
  text-align: center;
}

h1 {
  color: #DD23D8;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5em;
  font-weight: lighter;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
}

.about {
  font-size: 1.2em;
}

#foodie-logo {
  height: 130px;
  margin-left: 30px;
  margin-bottom: 15px;
}

nav {
  height: 70px;
  width: 100%;
  border-top: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 70px;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  color: #DD23D8;
  transition: all .5s ease;
  height: calc(100% - 25px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: : center;
  padding-top: 25px;
}

li:hover {
  color: #FFFFFF;
  background-color: #DD23D8;
}

.recipe {
  text-align: center;
  margin-bottom: 100px;
}

.read-more {
  height: 50px;
  width: 150px;
  background-color: #FFFFFF;
  border: 1px solid #DD23D8;
  color: #9E9E9E;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
}

